{% extends "base.html" %}

{% block title %}RapidSMS &middot; Send a Text Message{% endblock title %}

{% block extra_stylesheets %}
    {# Required by selectable. #}
    <link type="text/css" rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/smoothness/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}selectable/css/dj.selectable.css" />

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}messaging/stylesheets/messaging.css" />
{% endblock %}

{% block extra_javascript %}

    <!-- Maintain an accurate char count of the message, taking unicode into account. -->
    <script type="text/javascript" src="{{ STATIC_URL }}messaging/javascripts/jquery.simplyCountable.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#message-field textarea").simplyCountable();
        });
    </script>

    <!-- Scripts related to the recipients multi-selector. -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
    <script type="text/javascript">
        // Override some of django-selectable's defaults to use Bootstrap,
        // custom styles, and keep a count of the number of recipients.
        $.ui.djselectable.prototype._initDeck = function() {
            // Use a custom div to hold selected items, and
            // append it after the fieldset.
            var self = this;
            self.deck = $("<div>").attr("id", "recipients").addClass("group");
            $(self.element).parent().after(this.deck);
            $(self.hiddenMultipleSelector).each(function (i, input) {
                self._addDeckItem(input);
            });
        };
        $.ui.djselectable.prototype._addDeckItem = function(input) {
            // Put all data inside of a Bootstrap label, and update
            // the recipient counter upon addition and removal.
            var self = this,
                span = $("<span>").addClass("label label-info").html(" " + $(input).attr("title")),
                item = {element: self.element, input: input, wrapper: span, deck: self.deck};
            if (self._trigger("add", null, item) === false) {
                input.remove();
            } else {
                function update_recipient_count() {
                    var count = self.deck.children().length;
                    if (count === 1) {
                        $("#recipientcount").text("1 recipient selected");
                    } else {
                        $("#recipientcount").text(count + " recipients selected");
                    }
                }
                var button = self._removeButtonTemplate(item).click(function(event) {
                    event.preventDefault();
                    if (self._trigger("remove", event, item) !== false) {
                        $(input).remove();
                        span.remove();
                        update_recipient_count();
                    }
                });
                span.append(span.prepend(button)).appendTo(self.deck);
                update_recipient_count();
            }
        };
        $.ui.djselectable.prototype._removeButtonTemplate = function(item) {
            // Use a Bootstrap icon.
            var icon = $("<i>").addClass("icon-white icon-remove-sign");
            var button = $("<a>").attr("href", "").append(icon);
            return button;
        };
    </script>

    <script type="text/javascript">
        function addNotification(type, message) {
            var cls = type === null ? "alert" : "alert alert-" + type;
            var dismiss = $("<button>").attr("data-dismiss", "alert").addClass("close").html("&times;");
            var notif = $("<div>").addClass(cls).html(message).prepend(dismiss);
            $("#notifications").append(notif);
        }
        function clearNotifications() {
            $("#notifications").children().alert("close");
        }
        function clearRecipients() {
            $.each($("#recipients").children(), function(i, recipient) {
                // Trigger the update code in selectable that removes the
                // visible div, removes the input element, and updates the total count.
                $(recipient).find("a").click();
            });
        }
        function clearMessage() {
            $("#message-field textarea").val("");
            $("#counter").text("140");
        }

        $(function() {
            // Activate the "remove all recipients" link.
            $("#reset-recipients").click(function(event) {
                event.preventDefault();
                clearRecipients();
            });

            // It's too easy for the user to hit "Enter" before they intend to send the message.
            // We'll handle the submission manually.
            $("#send-message-form").submit(function(event) {
                return false;
            });
            $("#send-message").click(function(event) {
                clearNotifications();

                // Check for basic error conditions.
                var valid = true;
                if ($("#message-field textarea").val() === "") {
                    addNotification("error", "You have to write a message.");
                    valid = false;
                }
                if ($("#recipients").children().length === 0) {
                    addNotification("error", "Please select at least one recipient.");
                    valid = false;
                }
                if (!valid) { return; }

                // Send the form to the server for processing.
                $.ajax({
                    url: "{% url 'send_message' %}",
                    type: "POST",
                    data: $("#send-message-form").serialize(),
                    success: function(data, status, xhr) {
                        addNotification("success", data);
                        clearRecipients();
                        clearMessage();
                    },
                    error: function(xhr, status, errorThrown) {
                        addNotification("error", "A problem occurred while trying to send your message. " +
                                                 "Please contact your administrator if this keeps happening.");
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="span12">
        <div class="page-header"><h1>Send a Text Message</h1></div>
        <div id="notifications">{# Container for form errors and messages. #}</div>
        <form id="send-message-form">
            {% csrf_token %}
            <fieldset id="recipient-field" class="group">
                {{ form.connections }}
                <div class="pull-right">
                    <span id="recipientcount" class="count">0 recipients selected</span>
                    <span> &middot; <a href="" id="reset-recipients">remove all</a></span>
                </div>
            </fieldset>
            <fieldset id="message-field" class="group">
                {{ form.message }}
                <div class="count pull-right">
                    <span id="counter"></span> characters remaining
                </div>
            </fieldset>
        </form>
        {# Keep this outside of the form to prevent accidental form submission. #}
        <button id="send-message" class="btn btn-primary">Send Message</button>

        <div id="notes">
            <p>* Connections with an asterisk are the default connection for the contact.</p>
        </div>

    </div>
{% endblock content %}
