{% extends "base.html" %}

{% block stylesheets %}
  {{ block.super }}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}locations/stylesheets/tables.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}locations/stylesheets/splits.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}locations/stylesheets/modules.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}locations/stylesheets/icons.css" />
{% endblock %}

{% block title %}Locations - {{ block.super }}{% endblock %}

{% block content %}
<div class="span4">
    {% block left %}{% endblock %}
</div>
<div class="span8">
    {% block right %}{% endblock %}
</div>
{% endblock %}
