{% extends "layout.html" %}

{% block stylesheets %}<link type="text/css" rel="stylesheet" href="/static/locations/stylesheets/locations.css" />{% endblock %}
{% block title %}Locations{% endblock %}

{% block page_tabs %}
<ul id="page-tabs">{% for location_type in location_types %}
	<li{% ifequal location_type.pk active_location_type_tab %} class="active"{% endifequal %}><a href="{% url view-location-type location_type.pk %}">{{ location_type.plural }}</a></li>{% endfor %}
</ul>
{% endblock %}
