<html>
<head>
    <title>
        Bulletin Board
    </title>
    <script type="text/javascript" src="/static/nigeria/jquery-treeview/lib/jquery.js"></script>
    <style>
    div#result{
        background-color: #E6E6E6;
        font-weight: bold;
        color: #FF0000;
    }
    
    p {
        height: 10px;
        font-family: verdana;
        font-size: small;
        color: #9CA9CB
    }
    
    p#head{
        color: #0F35FF
    }
    
    input#mes{
        border-style: solid;
        border-width: thin;
        color: #FF0000
    }
    
    </style>
</head>
<body>
<p id="head">JJQUERY/JSON TEST2</p>
<div id="container">
    <div id="messages">
        Type in a message, {{dict}}{{f}}
    </div>
</div>
<div>
<input type="text" id="mes"/>
<input type="submit" id="send" value="send">
</div>
</body>

<script>
var add_message = function() {
    // retrieve the text entered
    var message = $("#mes").val();
    if (message != ""){
        // store value in data variable
        var data = { mes: message };
	alert("Got here1 with"+message);
        $.getJSON("ajax",data,
            function(json){
                $("#messages").remove();
		alert("Got here2");
                // Add the messages div to the container
                $("#container").append("<div id='messages'></div>");
                $.each(json, function(i,item){
                    $("#messages").append('<p>' + item.fields.code + "-" + item.fields.name + "</p>");
                });
                    $("#messages").append('<p>Got to append something here</p>"');
            }
        );
    }else{
        alert("Enter some text silly!");
    }
  return false;
};
// attach the click handler to the button
$("#send").click(add_message);

</script>
</html>
