{% extends "layout.html" %}
{% block title %}Decision Trees{% endblock %}
{% block stylesheets %}<link type="text/css" rel="stylesheet" href="/static/nigeria/stylesheets/tree.css" />{% endblock %}

{% block javascripts %}

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAODgdf-xX9X_ahvpOVXVWDhT0fo3f9n1Vl7bIP27hA4a_-pvvcBS4dyjO5Hy1MpqgUHRRcMg6I3F5ZQ" type="text/javascript">
  </script>

<script type="text/javascript">

    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(11.84583,8.50583), 9);
				
				var point = new GLatLng(12.49917,8.26833);
					marker = new GMarker(point);
					GEvent.addListener(marker, "click", function() {
				marker.openInfoWindowHtml("Further Info <a href=\"http://localhost:8008/reports/kano/kunchi\">here</a>...");
				});
				map.addOverlay(marker);
				
				map.setUIToDefault();
      }
    }

    </script>
		
<script type="text/javascript" src="/static/nigeria/js/nigeria.js"></script>			
{% endblock %}

{% block content %}


<div class="module">
<h2>Stock Supply</h2>
<br/>
	<table>
	<caption><a href="">Kano</a></caption>
		<thead>
		<tr>
		<td>
		<div id="map_canvas" style="width: 500px; height: 300px"></div>
		</td>
		</tr>
		</thead>
	</table>
	<table>
		<caption><a href="">Kano</a></caption>
		<thead>
			<tr>
				<th scope="col"><a href="">Coupons</a></th>
				<th scope="col">Parameter</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>{% if mobilisation %}{% for mob in mobilisation %}
			<tr>
                <th scope="row">{{ tree.trigger }}</th>
				<td>{{ mobilisation.num_of_households_to_revisit}}</td>
				<td><a href="tree/data/{{tree.id}}">view data</a></td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="2">
					No Trees Yet.
					<a href="" class="add">
						Add a Tree
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<a href="">
						Export to Excel
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
	<h2>Mobilization and Distribution</h2><br/>
</div>

<div class="module dt">
	<h2>Logistics</h2>
</div>

<!--<div class="module">
	<h2>Add a Decision Tree</h2>
	<form method="post" action="/">
		<label for="dt-add-trigger">Trigger</label>
		<input id="dt-add-trigger" type="text" name="trigger" />
	</form>
</div>-->
{% endblock %}
