{% extends "layout.html" %}
{% block title %}jQuery treeView{% endblock %}
{% block stylesheets %}

<link type="text/css" href="/static/nigeria/jquery-ui-1.7.1.custom/css/custom-theme/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
<link rel="stylesheet" href="/static/nigeria/stylesheets/jquery.treeview.css" />

{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="/static/nigeria/jquery-ui-1.7.1.custom/js/jquery-1.3.2.min.js"></script>          
<script type="text/javascript" src="/static/nigeria/jquery-ui-1.7.1.custom/js/jquery-ui-1.7.1.custom.min.js"></script>
<script type="text/javascript">               
$(document).ready(function(){
	$('#date').datepicker();                           
});
 
</script>

{% endblock %}

{% block content %}
<input type="text" name="date" id="date" />

{% endblock %}
