	{% extends "layout.html" %}
	
	{% block title %}Decision Trees{% endblock %}
	
	{% block stylesheets %}	
	<link rel="stylesheet" href="/static/nigeria/jquery-treeview/jquery.treeview.css" />
	<link rel="stylesheet" href="/static/nigeria/jquery-treeview/demo/screen.css" />

	{% endblock %}
	
	{% block javascripts %}
	<script src="/static/nigeria/jquery-treeview/lib/jquery.js" type="text/javascript"></script>
	<script src="/static/nigeria/jquery-treeview/lib/jquery.cookie.js" type="text/javascript"></script>
	<script src="/static/nigeria/jquery-treeview/jquery.treeview.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="/static/nigeria/jquery-treeview/demo/demo.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
        	$('#date').datepicker();
		});

	</script>
	
		

	{% endblock %}
	
	
	{% block content %}


<div>		
	<h2>Report Summary</h2>
	<ul id="red" class="treeview-blue">
	<li><span>Anambra</span>
		<ul>
			<li><span>Aleniu</span>
				<ul>
					<li><span>Nnewi      <a href=""> f1 </a> f2 f3 f4 f5 f6 f7 f8 f9 f10 f11 f12 f13 f14</span>
					<span>Afiak f1 f2 f3 f4 f5 f6 f7 f8 f9 f10 f11 f12 f13 f14</span></li>
				</ul>
			</li>
			<li><span>Munumo</span></li>
			<li><span>Monimoni</span>
				<ul>
					<li><span>Laipa</span>
					<ul>
						<li><span>Lamiu</span></li>
						<li><span>Efiung</span></li>
						<ul>
							<li><span>Afao</span></li>
						</ul>
						<li><span>Ladiimu</span></li>
					</ul>
				</li>
					<li><span>Fai</span>
					<ul>
						<li><span>Mamata</span></li>
					</ul>
				</li>
					<li><span>kagno</span>
					<ul>
						<li><span>Memtopo</span></li>
						<li><span>Kaima</span></li>
						<li><span>meru</span></li>
						<li><span>Kafaro</span> <ul><li><span>Tuofala</span></li></ul></li>
					</ul>
				</li>
				</ul>
			</li>
		</ul>
	</li>
	<li><span>Kano</span>
		<ul>
			<li><span>Ajingi</span>
				<ul>
					<li><span>Ajingi</span>
					<ul>
						<li><span>Balare</span></li>
						<li><span>Chula</span></li>
					</ul>
				</li>
				</ul>
			</li>
			<li><span>Albasu</span>
				<ul>
					<li><span>Albasu Ward</span>
					<ul>
						<li><span>Bataiya</span></li>
					</ul>
				</li>
					<li><span>Duja</span>
					<ul>
						<li><span>Fanda</span></li>
						<li><span>Aribi</span></li>
						<li><span>Mimiko</span></li>
					</ul>
				</li>
					<li><span>Kunchi</span>
					<ul>
						<li><span>Alebiu</span></li>
						<li><span>Moriamo</span></li>
						<li><span>Oklahoma</span></li>
					</ul>
				</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="open"><span>Lagos</span>
		<ul>
			<li class="open"><span>Ikorodu</span>
				<ul>
					<li><span>Alagbado</span></li>
					<li><span>Item Mafoluku</span>
					<ul>
						<li><span>Shomolu</span></li>
						<li><span>Abule Egba</span></li>
					</ul>
					
				</li>
					<li><span>Ishaga</span>
					<ul>
						<li><span>Agege</span></li>
						<li><span>Victoria Island</span></li>
						<li><span>Ketu</span></li>
					</ul>
				</li>
				</ul>
			</li>
		</ul>
	</li>
	</ul>
	
</div>
{% endblock %} 
