{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style type="text/css">
	#inner {
		margin: 4em 25%;
	}

	div.module div {
		border: 1px solid #ddd;
		border-top-color: #636363;
		margin-top: -1px;
	}

	div.module p {
		padding-left: 1em;
		padding-right: 1em;
	}

	code, pre {
		background: #ffe;
	}

	pre {
		padding: 1em;
		margin: 0;
	}
</style>
{% endblock %}

{% block content %}
  <div class="page-header">
      <h1>Installation Successful!</h1>
  </div>

    <div class="module">
	<div>
		<p>
			See <a href="http://rapidsms.readthedocs.org/en/latest/intro/install/index.html">the RapidSMS documentation</a>
			to learn how to install community apps or create your own.
		</p>

		<p>
			To replace this message with a different view, add a pattern in app's
			<code>urls</code> module with the pattern: <code>r'^$</code>.
		</p>

		<p>
			For example:
		</p>

		<pre>from django.conf.urls import patterns, url
from myproject.myapp import views

urlpatterns = patterns('',
    url(r'^$', views.dashboard)
)</pre>
	</div>
</div>
{% endblock %}
