
[submodule "contrib/pygsm"]
	path = contrib/pygsm
	url = git://github.com/rapidsms/pygsm.git
[submodule "contrib/apps"]
	path = contrib/apps
	url = git://github.com/ewheeler/rapidsms-contrib-apps.git
[submodule "apps"]
	path = apps
	url = git://github.com/ewheeler/rapidsms-community-apps.git
