__version__.py
*.pyc
*.swp
local.ini
core.*
.project
.pydevproject
*.sqlite3
logs/*
apps/airtime/fixtures/airtime.json
apps/airtime/fixtures/message_counter.json
apps/nigeria/fixtures/coupons-nopassword.json
apps/nigeria/fixtures/message_counter.json

