language: python
python:
  - "2.6"
  - "2.7"
env:
  - DJANGO_VERSION=1.3.1
  - DJANGO_VERSION=1.4
install:
  - pip install -q Django==$DJANGO_VERSION
  - pip install . --use-mirrors
script: python run_tests.py --settings=tests.default
branches:
  only:
    - feature/new-routing
