include README.rst
include AUTHORS
include LICENSE
include MANIFESET.in
recursive-include bin *
recursive-include tests *
recursive-include lib/rapidsms/static *
recursive-include lib/rapidsms/templates *
recursive-include lib/rapidsms/contrib/httptester/static *
recursive-include lib/rapidsms/contrib/httptester/templates *
recursive-include lib/rapidsms/contrib/locations/static *
recursive-include lib/rapidsms/contrib/locations/templates *
recursive-include lib/rapidsms/contrib/messagelog/static *
recursive-include lib/rapidsms/contrib/messagelog/templates *
recursive-include lib/rapidsms/contrib/messaging/static *
recursive-include lib/rapidsms/contrib/messaging/templates *
recursive-include lib/rapidsms/contrib/registration/static *
recursive-include lib/rapidsms/contrib/registration/templates *
recursive-include lib/rapidsms/contrib/scheduler/static *
recursive-include lib/rapidsms/contrib/scheduler/templates *
recursive-exclude * *.py[co]
