include README.rst
include AUTHORS
include LICENSE
include MANIFESET.in
recursive-include bin *
recursive-include tests *
recursive-include rapidsms/static *
recursive-include rapidsms/templates *
recursive-include rapidsms/contrib/httptester/static *
recursive-include rapidsms/contrib/httptester/templates *
recursive-include rapidsms/contrib/messagelog/static *
recursive-include rapidsms/contrib/messagelog/templates *
recursive-include rapidsms/contrib/messaging/static *
recursive-include rapidsms/contrib/messaging/templates *
recursive-include rapidsms/contrib/registration/static *
recursive-include rapidsms/contrib/registration/templates *
recursive-exclude * *.py[co]
