{% extends "layout.html" %}
{% load reporters %}
{% block title %}Reporters{% endblock %}
{% block javascripts %}<script type="text/javascript" src="/static/reporters/javascripts/clear-form-elements.js"></script>
		<script type="text/javascript" src="/static/reporters/javascripts/cloneable.js"></script>{% endblock %}
{% block content %}

<div class="module">
	<table>
		<caption>All Reporters</caption>
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Alias</th>
				<th scope="col">Last Seen</th>
			</tr>
		</thead>
		<tbody>{% if reporters %}{% for reporter in reporters %}
			<tr>
				<td>{{ reporter.first_name }} {{ reporter.last_name }}</td>
				<td>{% if reporter.alias %}{{ reporter.alias }}{% else %}<span class="na">n/a</span>{% endif %}</td>
				<td>{{ reporter.last_seen|last_seen }}</td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="3">
					No Reporters Yet.
					<a href="/reporters/add" class="add">
						Add a Reporter
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					<a href="">
						Export to Excel
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div class="module">
	<h2>Add a Reporter</h2>
	
	<form method="post" id="fm-rep-add" action="/reporters/add">
		<div>
			<label for="fm-rep-add-alias">Alias</label>
			<input type="text" class="required" id="fm-rep-add-alias" name="alias" value="" />
			<p class="help">Must be alphanumeric, up to 20 characters.</p>
		</div>
		<div>
			<label for="fm-rep-add-password">Password</label>
			<input type="text" class="required" id="fm-rep-add-password" name="password" value="" />
			<p class="help">If provided, reporters must supply this password when identifying themselves.</p>
		</div>
		<div>
			<label>Name</label>
			<div>
				<input type="text" id="fm-rep-add-first_name" name="first_name" value="" />
				<label for="fm-rep-add-first_name" class="suffix">First<span class="acc"> Name</span></label>
			</div>
			<div>
				<input type="text" id="fm-rep-add-last_name" name="last_name" value="" />
				<label for="fm-rep-add-last_name" class="suffix">Last<span class="acc"> Name</span></label>
			</div>
		</div>
		
		<div id="fm-rep-add-connections">
			<label>Primary Connection</label>
			<div>
				<select name="backend">{% for backend in backends %}
					<option value="{{ backend.pk }}">{{ backend.title }}</option>{% endfor %}
				</select>
				<input type="text" name="identity" value="" />
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
			
				/* make the connection(s) div (above) clonable, so
				 * more than one connection can be added at once */
				var id ="#fm-rep-add-connections";
				$(id + " > div").cloneable(true);
				$(id + " > label").text("Connection(s)");
				$(id).clearFormElements();
			});
		</script>
		
		<div id="fm-rep-add-groups">
			<label>Primary Group</label>
			<div>
				<select name="group">{% for group in groups %}
					<option value="{{ group.pk }}" class="depth-{{ group.depth }}">{{ group.title }}</option>{% endfor %}
				</select>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
				var id ="#fm-rep-add-groups";
				$(id + " > div").cloneable(true);
				$(id + " > label").text("Group(s)");
				$(id).clearFormElements();
			});
		</script>
		
		<div class="submit">
			<input type="submit" value="Add Reporter" />
		</div>
	</form>
</div>

{% endblock %}
