/* UNICEF RapidSMS UI
 * vim:set noet:
 * --
 * layout.css
 * --
 * This stylesheet creates a generic RapidSMS look
 * that can be shared between UNICEF webuis */


body {
	background: #eef url("../images/page-bg.png") repeat-y 50% 0;
	font: 9pt "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
	line-height: 1;
	color: #333;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #33a7d2;
}

	a:hover {
		text-decoration: underline; }

abbr {
	cursor: help; }

p {
	line-height: 1.4; }
	
		
/* position accessibility-only parts of labels (which are
 * more verbose than is necessary, sometimes) off-screen:
 *
 * <label><span class="acc">Is this user </span>M<span class="acc">ale</span>?</label>
 */
label span.acc {
	position: absolute;
	text-indent: -9999px;
}


/* this is not okay. but it is, unfortunately, the least
 * error-prone way of fixing broken floaty layouts in IE6 */
div.clear-hack {
	overflow: hidden;
	clear: both;
	height: 0;
}


#wrapper {
	width: 80em;
	margin: 0 auto;
	background: #fff;
}

	/* no scaling for ie6 */
	* html #wrapper {
		width: 960px; }


/* the header is based roughly upon
 * unicef.org, with rapidsms colors */
#header {
	background: url("../images/header-bg.png") repeat-x;
	padding-top: 23px;
	padding-bottom: 33px;
	position: relative;
	color: #ccf;
}
	
        /* get the crude login and
         * logout links into the
         * upper right corner */
        #auth p {
                float: right;
                margin-top: -21px;
        }

        #auth p a{
                color: white;
        }


	/* align in the middle of the
	 * unicef blue stripe of header bg,
	 * and display logo on the right */
	#branding h1 {
		background: url("../images/unicef.png") no-repeat 100% 50%;
		line-height: 65px;
		padding-left: 10px;
		color: #fff;
		margin: 0;
	}
	
		/* ie6 can't seem to
		 * figure this out */
		* html #branding h1 {
			width: 940px; }
		
		/* hide text title on login box;
		 * it's too long (blows up form) */
		body.login #branding h1 {
			text-indent: -9999px; }
		
		#branding h1 b {
			height: 65px;
			display: block;
			text-indent: -9999px;
			background: url("../images/rapidsms.png") no-repeat 0 50%;
		}
	
	#tabs,
	#page-tabs {
		position: absolute;
		height: 28px;
		bottom: 0;
		padding: 0;
		margin: 0;
	}
	
	/* global tabs sit on the right,
	 * page-specific tabs sit on the
	 * left, to draw more attention */
	#tabs      { right: 0; }
	#page-tabs { left: 0;  }
	
		#tabs li,
		#page-tabs li {
			display: block;
			float: left;
			line-height: 28px;
		}
		
		/* 5px spacing between each tab, to match
		 * the top gap, since we're using pixel-
		 * positioned backgrounds */
		#tabs li      { margin-right: 5px; }
		#page-tabs li { margin-left: 5px; }
	
			#tabs li a,
			#page-tabs li a {
				color: #fff;
				display: block;
				padding: 0 1em;
				background: #2fa5d1 url("../images/tab-bg.png") repeat-x;
				border-right: 1px solid #11bad0;
				border-left: 1px solid #11bad0;
			}
			
			/* there are unread messages in this tab!
			 * TODO: is this *just* for the training
			 * app? f so, move it there! */
			#tabs li.unread a span {
				display: block;
				padding-right: 21px;
				background: url("../icons/silk/email_open.png") no-repeat 100% 50%;
			}
		
			#tabs li.active a,
			#page-tabs li.active a,
			#tabs li.active a:hover,
			#page-tabs li.active a:hover {
				background: #55cfde url("../images/tab-bg-active.png") repeat-x;
				
				/* border the same color as the
				 * strip in the header-bg.png */
				border: 1px solid #cef1f5;
				border-bottom: 0;
			
				/* nudge the active tab
				 * north by one pixel */
				margin-top: -1px;
			
				/* don't underline links, even when hovering,
				 * so we don't highlight the fact that this
				 * is a link (it's already active)  */
				text-decoration: none;
			}
		
			/* brighten up inactive tabs when hovering */
			#tabs li a:hover,
			#page-tabs li a:hover {
				background-image: url("../images/tab-bg-hover.png"); }




/* page hierachy, in the form
 * COUNTRY -> DISTRICT -> GMC */
#breadcrumbs {
	padding: 10px;
	font-size: 200%;
	color: #ddf;
	border-bottom: 1px dotted #eef;
}




#inner {
	padding: 1em;
}
	
	/* split a section vertically in
	 * half, with some css hackery */
	 
	#inner div.split {
		padding: 0 0.5em;
	}
		
		/* TODO: explain the margins! */
		#inner div.split .left {
			margin-left: -0.5em;
			float: left;
			border: none;
			width: 50%;
		}
		
		#inner div.split .right {
			margin-right: -0.5em;
			float: right;
			border: none;
			width: 50%;
		}
	
	/* split a section into THREE */
	
	#inner div.split-3 {
		padding: 0 1em;
	}
		
		#inner div.split-3 .left {
			margin-left: -1em;
			float: left;
			border: none;
			width: 33%;
		}
		
		#inner div.split-3 .mid {
			margin-right: 1em;
			margin-left: 1em;
			float: left;
			border: none;
			width: 34%;
		}
		
		#inner div.split-3 .right {
			margin-right: -1em;
			float: right;
			border: none;
			width: 33%;
		}
	
	/* when an app has something really
	 * important to say, it can use the
	 * apps/webui/templates/message.html
	 * template to display a huge message */
	#inner div.message {
		text-align: center;
		padding: 4em 25%;
	}
	
		#inner div.message p {
			margin: 0 0 0.5em 0;
			font-size: 2em;
		}




/* some apps (just the querylog at the moment, actually)
 * add big triggers to the bottom of the page to show or
 * perform some action. this should probably not be here. */
div.trigger {
	font-size: 80%;
	text-align: center;
	padding: 0.625em;
	background: #f8f8f8;
	cursor: pointer;
	color: #aaa;
}
	
	/* some triggers are more warning that
	 * something is wrong, so highlight them */
	div.trigger.warn {
		background: #fdd;
		color: #f00;
	}




/* legal junk */
#footer {
	border-top: 1px dotted #eee;
	padding: 0.5em;
	clear: both;
	color: #ccc;
	
	/* reserve space for at least two lines of
	 * links @ LH=1.4 (for the copyright info) */
	min-height: 2.8em;
}
	
	/* float */
	#footer .rg-footer {
		padding-top: 1.4em;
		line-height: 1.4;
	}
	
	#footer p.rights {
		text-align: right;
		float: right;
		margin: 0;
	}
