{% extends "layout.html" %}
{% block title %}Add a Question{% endblock %}
{% block content %}
{% load utils %}

<div class="manage-questions">
	<div class="add-question">
		<h2>{% if question %}Edit &quot;{{ question.text }}&quot;{% else %}Add a Question{% endif %}</h2>
		<form method="post" action="/poll/question/{% if question %}{{ question.pk }}/edit{% else %}add{% endif %}">
			<div>
				<label for="fm-type">Question Type:</label>
				<select name="type" id="fm-type"{% if question %} disabled="disabled"{% endif %}>
					<option value="F"{% if question %}{% ifequal question.type "F" %} selected="selected"{% endifequal %}{% endif %}>Free text</option>
					<option value="B"{% if question %}{% ifequal question.type "B" %} selected="selected"{% endifequal %}{% endif %}>Boolean</option>
					<option value="M"{% if question %}{% ifequal question.type "M" %} selected="selected"{% endifequal %}{% endif %}>Multiple choice</option>
				</select>
			</div>
	
			<div>
				<label for="fm-start">Start Date:</label>{% if question %}{% if question.is_future %}
				{% date_selector "start" question.start %}{% else %}
				{% date_selector "start" question.start "disable" %}{% endif %}{% else %}
				{% date_selector "start" %}{% endif %}
			</div>

			<div>
				<label for="fm-end">End Date:</label>{% if question %}{% if question.is_past %}
				{% date_selector "end" question.end "disable" %}{% else %}
				{% date_selector "end" question.end %}{% endif %}{% else %}
				{% date_selector "end" %}{% endif %}
			</div>

			<div>
				<label for="fm-text">Question:</label>
				<textarea id="fm-text" name="text" rows="4" cols="40"{% if question %}{% if not question.is_future %} disabled="disabled"{% endif %}{% endif %}>{% if question %}{{ question.text }}{% endif %}</textarea>
			</div>
	
			<div id="grp-answers" class="gap disabled">
				<label>Answers:</label>
				<div class="help"><p>
					Only available when creating
					<em>Multiple Choice</em> Questions
				</p></div>
			
				<table class="answers">
					<thead>
						<tr>
							<th>Choice</th>
							<th>Answer</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input name="choice-1" size="5" maxlength="1"{% if question %} value="{{ question.answer_1.choice }}"{% else %} value="1"{% endif %} /></td>
							<td><input name="text-1" maxlength="40"{% if question %} value="{{ question.answer_1.text }}"{% endif %} /></td>
						</tr>
						<tr>
							<td><input name="choice-2" size="5" maxlength="1"{% if question %} value="{{ question.answer_2.choice }}"{% else %} value="2"{% endif %} /></td>
							<td><input name="text-2" maxlength="40"{% if question %} value="{{ question.answer_2.text }}"{% endif %} /></td>
						</tr>
						<tr>
							<td><input name="choice-3" size="5" maxlength="1"{% if question %} value="{{ question.answer_3.choice }}"{% else %} value="3"{% endif %} /></td>
							<td><input name="text-3" maxlength="40"{% if question %} value="{{ question.answer_3.text }}"{% endif %} /></td>
						</tr>
						<tr>
							<td><input name="choice-4" size="5" maxlength="1"{% if question %} value="{{ question.answer_4.choice }}"{% else %} value="4"{% endif %} /></td>
							<td><input name="text-4" maxlength="40"{% if question %} value="{{ question.answer_4.text }}"{% endif %} /></td>
						</tr>
					</tbody>
				</table>
			</div>
	
			<div class="submit">
				<input type="submit" value="{% if question %}Save Changes{% else %}Add Question{% endif %}" />
			</div>
		</form>
	
		<script type="text/javascript">
			window.addEvent("domready", function() {
				var grp_ans = $("grp-answers");
				var fm_type = $("fm-type");
			
				var answers_vis = function() {
					var dis = (fm_type.value != "M") || fm_type.disabled;
				
					/* disable the answers group if we
					 * aren't adding a multiple-choice,
					 * or the type selector is disabled
					 * (which signifies that we can't change
					 * answers, when we're editing a Question) */
					if (dis) grp_ans.addClass("disabled");
					else grp_ans.removeClass("disabled");
				
					/* disable or enable all of the fields */
					$$("#grp-answers input").each(function(el) {
						el.disabled = dis;
					});
				};
			
				/* update the visibility each time the Question
				 * Type is changed, and right now, in case the
				 * element as been auto-filled by the browser */
				fm_type.addEvent("change", answers_vis);
				answers_vis();
			
				/* do some error checking when
				 * the form is submitted */
				var frm = $$(".add-question form")[0];
				frm.addEvent("submit", function(ev) {
				
					/* don't submit the form in
					 * the usual full-page way */
					ev.stop();
				
					/* destroy any existing status boxes during POST */
					frm.getElements(".errors, .success").dispose();
				
					var status_div = function(klass, html) {
						new Element ("div", {
							"html": html,
							"class": klass
					
						/* add above the "submit" button */
						}).inject(frm.getElement(".submit"), "top");
					};
				
					/* submit the form via ajax, and create a notification
					 * div. if an object was successfully created or updated,
					 * redirect back to the dashboard */
					new Request({
						"url": (frm.action || location.href),
					
						"onSuccess": function() {
							//status_div("success", "Question saved");
							location = "/poll/questions";
						},
					
						"onFailure": function(xhr) {
							status_div("errors", xhr.responseText);
						}
					}).send(frm);
				});
			});
		</script>
	</div>
	<div class="list-questions">
		<h2>Questions</h2>
		<table>
			<thead>
				<th>Question</th>
				<th>Start</th>
				<th>End</th>
			</thead>
			<tbody>{% for question in questions %}
				<tr>
					<td class="text"><a href="/poll/question/{{ question.pk }}">{{ question.text }}</a></td>
					<td>{{ question.start|date:"M jS Y" }}</td>
					<td>{{ question.end|date:"M jS Y" }}</td>
				</tr>{% endfor %}
			</tbody>
		</table>
		<p>Or <a href="/poll/questions">Add a Question</a></p>
	</div>
</div>
{% endblock %}
