{% extends "modelrelationship/base.html" %}
{% load i18n %}
{% load relational_tags %}
{% block head_title %}{% trans "All Edge Types" %}{% endblock %}
{% block mr_content %}
	<h2>{{content_instance}}</h2>
	<ul>
	<li>PK: {{content_instance.id}}</li>	
	</ul>
	<hr>
	<h2>Create New Edges</h2>
	<h3>{%trans "Edges as Parent"%}</h3>
	{% if parent_edgetypes %}
		<ul>
		{% for parent_edgetype in parent_edgetypes %}
			<li><a href="{%url modelrelationship.views.new_edge parent_edgetype.id%}?parent_id={{content_instance.id}}">{% trans "Make new edge with "%} {{parent_edgetype}}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
	
	
	<h3>{%trans "Edges as Child"%}</h3>
	{% if child_edgetypes %}
		<ul>
		{% for child_edgetype in child_edgetypes %}
			<li><a href="{%url modelrelationship.views.new_edge child_edgetype.id%}?child_id={{content_instance.id}}">{% trans "Make new edge"%} {{child_edgetype}}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
	<hr>
	<h2>{%trans "Immediate Relationships" %}</h2>
	<h3>{%trans "Parent of: "%}</h3>
	{% for parent_edgetype, edgeitems in parent_edges.items %}
		{%if edgeitems %}
			{{parent_edgetype.headline_display}}
			<ul>
			{%for edge in edgeitems %}
				<li><a href="{%url modelrelationship.views.view_content_item%}?content_type={{parent_edgetype.child_type.id}}&content_id={{edge.child_object.id}}">{{edge.child_object}}</a></li>		
			{%endfor%}
			</ul>	
		{%endif %}	
	{% endfor %}
	
	<h3>{%trans "Child of: "%}</h3>
	{% for child_edgetype, edgeitems in child_edges.items %}
		{%if edgeitems %}
			{{child_edgetype.headline_display}}
			<ul>
			{%for edge in edgeitems %}
				<li><a href="{%url modelrelationship.views.view_content_item%}?content_type={{child_edgetype.parent_type.id}}&content_id={{edge.parent_object.id}}">{{edge.parent_object}}</a></li>		
			{%endfor%}
			</ul>	
		{%endif %}	
	{% endfor %}
	
	<hr>
	<h3>Complete Relations</h3>
	
	{% get_descendents content_instance%}
	
	{% get_ancestors content_instance %}
	
   
{% endblock %}
