{% extends "registration/base.html" %}
{% load url from future %}
{% load forms_tags %}

{% block content %}
    {{ block.super }}

<div class="row-fluid">
    <div class="span3 well">
        {% include "registration/_sub_nav_bar.html" %}
    </div>
    <div class="span8">
        <form action="" method="post">
            {{ contact_form }}
            {{ connection_formset }}
            {% csrf_token %}
            <div class="submit">
                <input type="submit" name="submit" value="Save Contact" />
                {% if contact %}
                    <input type="submit" name="submit" value="Delete Contact" />
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}