{% extends "registration/base.html" %}
{% load url from future %}
{% load forms_tags %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}registration/stylesheets/dashboard.css" />
{% endblock %}


{% block content %}

<div class="row-fluid">
    <div class="span3 well">
        <ul class="nav nav-list">
            <li class="nav-header">Actions</li>
            <li class="active"><a href="#">List Contacts</a></li>
            <li><a href="#">Add Contact</a></li>
            <li><a href="#">Bulk Add Contacts</a></li>
        </ul>
    </div>
    <div class="span8">
        {{ contacts_table.as_html }}
    </div>
</div>

{% endblock %}
