{% extends "registration/base.html" %}
{% load url from future %}
{% load forms_tags %}
{% load django_tables2 %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}registration/stylesheets/dashboard.css" />
{% endblock %}


{% block content %}
    {{ block.super }}

<div class="row-fluid">
    <div class="span3 well">
        {% include "registration/_sub_nav_bar.html" %}
    </div>
    <div class="span8">
        <div class="page_header">
            <h1>Registration: Contacts</h1>
        </div>
        {% render_table contacts_table %}
    </div>
</div>

{% endblock %}
