.field {
        float:right;
        position:relative;
        right:35em;
        top:-1em;
}
.field span {
	width: 8em;
	display: inline-block;
	position: relative
}
.datatable th {
	width: 7em
}
.datatable .first {
	width: 18em
	
}

#navigation li.odd {
	border-top:1px solid #ccc;
	background-color: #eee;
}
