{% extends "layout.html" %}
{% block title %}Weekly Coupon Distribution Summary{% endblock %}
{% block javascripts %}
<script language="javascript" type="text/javascript" src="/static/nigeria/js/jquery.flot.min.js"></script>
<!--[if IE]>
<script language="javascript" type="text/javascript" src="/static/nigeria/js/excanvas.pack.js"></script>
<![endif]-->
<script language="javascript">
$(document).ready(function() {
	data = [
	 { label: 'APK', data: [[0,10]]},
	 { label: 'DPO', data: [[1,20]]},
	 { label: 'PMS', data: [[2,50]]},
	 { label: 'AGO', data: [[3,20]]}
	];
	options = { pies: {show: true, labelWidth: 30, fontSize: 10, autoScale: true, fillOpacity: 1, label: "Coupon Distribution"}};
	/* $.plot($('#piechart'), data, options); */
});
</script>
{% endblock %}
{% block stylesheets %}
<style>
#data_summary th, #data_summary td { text-align: center; }
</style>
{% endblock %}
{% block content %}
<div class="container">
<h2>Weekly Coupon Distribution Summary</h2>
<br />
<table width="100%" id="data_heading">
<thead>	
<tr><th><strong>Date</strong></th><th><strong>State</strong></th><th><strong>LGA</strong></th><th><strong>Ward</strong></th><th><strong>Distribution Point</strong></th></tr>
<tr><td>Apr 15, 2009</td><td>Kano</td><td>Sabon Gari</td><td>Ward #1</td><td>4</td></tr>
</thead>
</table>

<div id="data_summary" style="clear:both;margin-top:1em">
	<div width="100%">
		<table width="100%">
			<thead>
				<tr><th>&nbsp;</th><th><strong>Category</strong></th><th><strong>Day 1</strong></th><th><strong>Day 2</strong></th><th><strong>Day 3</strong></th><th><strong>Day 4</strong></th><th><strong>Day 5</strong></th><th><strong>Day 6</strong></th><th><strong>Day 7</strong></th><th><strong>Total Settlements</strong></th><strong>Total of People</strong></th><th><strong>Coupons Issued</strong></th></tr>
			</thead>
			<tbody>
				<tr><th>Team 1</th><th>Total No. of Settlements</th><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>161</td><td colspan="2">&nbsp;</td></tr>
				<tr><th>&nbsp;</th><th>Total No. of People in households</th><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>&nbsp;</td><td>2348</td><td>&nbsp;</td></tr>
				<tr><th>&nbsp;</th><th>Total No. of Coupons Issued</th><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td colspan="2">&nbsp;</td><td>3490</td></tr>
				<tr><th>Team 1</th><th>Total No. of Settlements</th><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>161</td><td colspan="2">&nbsp;</td></tr>
				<tr><th>&nbsp;</th><th>Total No. of People in households</th><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>&nbsp;</td><td>2348</td><td>&nbsp;</td></tr>
				<tr><th>&nbsp;</th><th>Total No. of Coupons Issued</th><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td colspan="2">&nbsp;</td><td>3490</td></tr>
				<tr><th>Team 1</th><th>Total No. of Settlements</th><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>161</td><td colspan="2">&nbsp;</td></tr>
				<tr><th>&nbsp;</th><th>Total No. of People in households</th><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>&nbsp;</td><td>2348</td><td>&nbsp;</td></tr>
				<tr><th>&nbsp;</th><th>Total No. of Coupons Issued</th><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td colspan="2">&nbsp;</td><td>3490</td></tr>
			</tbody>
		</table>
	</div>
</div>

</div>
{% endblock %}
