{% extends "layout.html" %}
{% block title %}Daily Coupon Distribution Summary{% endblock %}
{% block javascripts %}

<!--[if IE]>
<script language="javascript" type="text/javascript" src="/static/nigeria/js/excanvas.pack.js"></script>
<![endif]-->
<script language="javascript" type="text/javascript" src="/static/nigeria/js/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/nigeria/js/jquery.flot.pie.pack.js"></script>

<script language="javascript">

$(document).ready(function() {

     bar_data = {{bar_data|safe}};
     bar_options= {"grid": {"show":"false", "clickable":"true"}, "xaxis":{"ticks":{{bar_ticks|safe}}, "tickFormatter":"string"}}
    
     $.plot($('#cd_bar_chart'), bar_data, bar_options);
     pie_opts = {show: true, showLabel: false}
     grid_opts = { hoverable : true, clickable: true} 
     pie_opts_no_legend = { pie : pie_opts, grid: grid_opts, legend: { show: false } } 
     pie_opts_legend = { pie: pie_opts, grid: grid_opts, legend: {    show: true, container : $('#flot_legend') }}
     
     $.plot($('#cd_settlements_pie'),  {{pie_data.settlements|safe}}, pie_opts_no_legend);
     $.plot($('#cd_people_pie'),  {{pie_data.people|safe}}, pie_opts_no_legend);
     $.plot($('#cd_coupons_pie'),  {{pie_data.coupons|safe}}, pie_opts_legend);
});
    
</script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/nigeria/jquery-ui/jquery-ui-1.7.1.custom.css" />
<style>
#data_summary th, #data_summary td { text-align: center; }
</style>

{% endblock %}
{% block content %}

<div class = "location_summary">
  <h3>Mobilization Summary for {{location.name}}</h3>
</div> 
<div id="data_summary" style="clear:both;margin-top:1em">
    <table width="100%" id="data_heading">
        <tr>
            <td colspan=4>
                <h2>Daily Mobilization by {{child_type}}s at {{location.name}}</h2>
                    <div id="cd_bar_chart" style="height:250px;width:900px;"></div>
            </td>
        <tr>
            <td>
                <h2>Settlements by {{child_type}}</h2>
                    <div id="cd_settlements_pie" style="height:250px;width:250px;"></div>
            </td>
            <td>
                <h2>People by {{child_type}}</h2>
                    <div id="cd_people_pie" style="height:250px;width:250px;"></div>
            </td>
            <td>
                <h2>Coupons by {{child_type}}</h2>
                    <div id="cd_coupons_pie" style="height:250px;width:250px;"></div>
            </td>
            <td>
                <h2>Legend</h2>
                <div id="flot_legend" style="height:250px;width:150px;"></div>
            </td>
        </tr>
    </table>
    <br/>
    <table width="100%" id="data_heading">
        <thead>
            <tr>
                <th><b>{{child_type}}</b></th><th><b>No. of Settlements</b></th><th><b>Total No. of People</b></th><th><b>Coupons Issued</b></th>
            </tr>
        </thead>
        <tbody>
            {% for child in children %}
                <tr>
                    <td>{{child.name}}</td><td>{{child.settlements}}</td><td>{{child.people}}</td><td>{{child.coupons}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

        
{% endblock %}
