{% extends "layout.html" %}
	
{% block title %} Report Summary {% endblock %}

{% block stylesheets %}	
<link rel="stylesheet" href="/static/nigeria/jquery-treeview/jquery.treeview.css" />
<link rel="stylesheet" href="/static/nigeria/stylesheets/reports.css" />
{% endblock %}

{% block javascripts %}
<script src="/static/nigeria/jquery-treeview/lib/jquery.cookie.js" type="text/javascript"></script>
<script src="/static/nigeria/jquery-treeview/jquery.treeview.js" type="text/javascript"></script>
<script src="/static/nigeria/jquery-treeview/jquery.treeview.async.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/nigeria/javascripts/treeview.js"></script>
<script>
</script>
{% endblock %}
{% block content %}

<div>		
{% if location %}
<h2>Report Summary for {{location.name}} {{location.type}}</h2>
{% if location.parent %} 
    <a href="/reports/summary/{{location.parent.pk}}/">Go to parent ({{location.parent.name}} {{location.parent.type}}) </a>
{% endif %}
<table class="datatable" width="100%"><thead><tr>
<th scope="col" class="first"><b>State/LGA/Ward</b></th>
<th scope="col"><b>Stock <br/> Level</b></th>
<th scope="col"><b>Net Cards<br/> Distributed</b></th>
<th scope="col"><b>Nets <br/> Distributed</b></th>
<th scope="col"><b></b></th>
<th scope="col"><b></b></th>
<th scope="col"><b></b></th>
<th scope="col"><b></b></th>
<th scope="col"><b></b></th>
</tr></thead></table>
<ul id="navigation">
<li>
  <span>{{location}}</span>
    <span class="field">
        <span class="datafield"><a href="/reports/logistics/summary/{{location.pk}}">{{location.stock.balance}}</a></span> 
        <span><a href="/reports/coupons/summary/{{location.pk}}/">{{location.card_data.distributed}}</a></span> 
        <span><a href="/reports/bednets/summary/{{location.pk}}/">{{location.net_data.distributed}}</a></span>
    </span>
	<ul id="lgas">
	</ul>
</li>
</ul>
{% endif %}
</div>
{% endblock %} 
