{% load reporters %}

<div class="module logistics">
	<h2>Logistics Summary</h2>
	
	<div class="scroller">
		<table class="export">{% for lga in lgas %}{% if lga.transactions %}
			<thead>
				<tr class="caption">
					<td colspan="6">
						<h3>{{ lga.name }}</span></h3>
					</td>
				</tr>
				<th>Type</th>
				<th>Date</th>
				<th>To/From</th>
				<th>Logistician</th>
				<th><abbr title="Number of Bales Transferred">Bales</abbr></th>
				<th><abbr title="Post-Transfer Stock Balance">Stock</abbr></th>
			</thead>
			<tbody>{% for transaction in lga.transactions %}
				<tr>
					<td title="{% ifequal transaction.type "R" %}Incoming (receipt){% else %}Outgoing (issued){% endifequal %}" class="min dir-{{ transaction.type }}"><span>{{ transaction.type }}</span></td>
					<td class="min"><span title="{{ transaction.date|date }}">{{ transaction.date|date:"d/m" }}</span></td>
					<td class="min">{{ transaction.origin }}</td>
					<td>{{ transaction.reporter }}</td>
					<td class="min num">{% ifequal transaction.type "R" %}+{% else %}-{% endifequal %}{{ transaction.amount }}</td>
					<td class="min num">{{ transaction.stock }}</td>
				</tr>{% endfor %}
				<tr class="summary">
					<td colspan="6">
						{{ lga.transactions|length }} Transactions since May 05 2009.
					</td>
				</tr>
			</tbody>{% else %}
                                <thead><tr class="warning">
                                    <td colspan="6">
                                        <h3><div>{{ lga.name }}</div><em>No shipments</em></span></h3>
                                    </td></tr></thead>
                                {% endif %}
                        {% endfor %}
		</table>
	</div>
</div>
