<div class="module pilot">
	<h2>Pilot LGAs Summary</h2>
	<table>{% for lga in pilot_lgas %}
		<thead>
			<tr class="caption">
				<td colspan="4">
					<h3>{{ lga.name }} <span>{{ lga.summary }}</span></h3>
				</td>
			</tr>
			<tr>
				<th>Ward Name</th>
				<th>Reports</th>
				<th>Net Cards</th>
				<th>Beneficiaries</th>
			</tr>
		</thead>
		<tbody>{% for ward in lga.wards %}
			<tr>
				<td>{{ ward.name }}</td>
				<td>{{ ward.reports }}</td>
				<td>{{ ward.netcards }}</td>
				<td>{{ ward.beneficiaries }}</td>
			</tr>{% endfor %}{% endfor %}
		</tbody>
	</table>
</div>
