<div class="module pilot">
	<h2>Pilot LGAs Summary</h2>
	
	<div class="scroller">
		<table class="export">{% for lga in pilot_lgas %}
			<thead>
				<tr class="caption">
					<td colspan="5">
						<h3>{{ lga.name }}</h3>
					</td>
				</tr>
				<tr>
					<th>Ward Name</th>
					<th class="min">Reports</th>
					<th class="min">Net Cards</th>
					<th class="min">Nets Dist.</th>
					<th class="min">Beneficiaries</th>
				</tr>
			</thead>
			<tbody>{% for ward in lga.wards %}
				<tr class={{ ward.class }}>
					<td>{{ ward.name }}</td>
                                        {% if ward.class %}
                                            <td colspan="4">{{ ward.contact }}</td>
                                        {% else %}
                                            <td class="min num">{{ ward.reports }}</td>
                                            <td class="min num">{{ ward.netcards }}</td>
					    <td class="min num">{{ ward.nets }}</td>
                                            <td class="min num">{{ ward.beneficiaries }}</td>
                                        {% endif %}
				</tr>{% endfor %}
				<tr class="totals">
					<td>Total</td>
					<td class="min num">{{ lga.reports }}</td>
					<td class="min num">{{ lga.netcards }}</td>
					<td class="min num">{{ lga.nets_total }}</td>
					<td class="min num">{{ lga.beneficiaries }}</td>
				</tr>
                                <tr class="totals">
                                        <td>% of projected demand</td>
                                        <td></td>
                                        <td class="min num">{{ lga.netcards_stats }}%</td>
                                        <td class="min num">{{ lga.nets_stats }}%</td>
					<td class="min num">{{ lga.beneficiaries_stats }}%</td>

                                </tr>
				<tr class="summary">
					<td colspan="6">
						{{ lga.summary }}
					</td>
				</tr>
			</tbody>{% endfor %}
		</table>
	</div>
</div>
