<div class="module progress">
	<h2>Daily Distribution Progress</h2>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Day</th>
				<th colspan="2">Reports</th>
				<th class="min">Net Cards</th>
				<th>Beneficiaries</th>
			</tr>
		</thead>
		<tbody>{% for day in days %}
			<tr{% if day.in_future %} class="future"{% endif %}>
				<td><span title="{{ day.date|date }}">{{ day.date|date:"d/m" }}</span></td>
				<td title="{{ day.date|date }}" class="day min num">{{ day.number }}</td>
				
				<td class="min num">{{ day.reports }}</td>
				<td class="perc min num">{% ifnotequal day.reports None %}{{ day.reports_perc }}%{% endifnotequal %}</td>
				<td class="min num">{{ day.coupons }}</td>
				<td class="min num">{{ day.recipients }}</td>
			</tr>{% endfor %}
		</tbody>
	</table>
</div>
