<div class="module progress">
	<h2>Daily Distribution Progress</h2>
	<table>
		<thead>
			<tr>
                                <th colspan="4">Percent of projected demand:</th>
                                <th colspan="2">{{ netcards_stats }}%</th>
                                <th colspan="2">{{ beneficiaries_stats }}%</th>
                        </tr><tr>
				<th>#</th>
				<th colspan="2">Reports</th>
				<th colspan="2">Net Cards</th>
				<th colspan="2">Beneficiaries</th>
			</tr>
		</thead>
		<tbody>
                        {% for day in days %}
			<tr{% if day.in_future %} class="future"{% endif %}>
				<td title="{{ day.date|date }}" class="day">{{ day.number }}</td>
				
				<td>{{ day.reports }}</td>
				<td class="perc">{% ifnotequal day.reports None %}{{ day.reports_perc }}%{% endifnotequal %}</td>
				
				<td>{{ day.coupons }}</td>
				<td class="perc">{% ifnotequal day.coupons None %}{{ day.coupons_perc }}%{% endifnotequal %}</td>
				
				<td>{{ day.recipients }}</td>
				<td class="perc">{% ifnotequal day.recipients None %}{{ day.recipients_perc }}%{% endifnotequal %}</td>
			</tr>{% endfor %}
		</tbody>
	</table>
</div>
