{% extends "layout.html" %}
{% load pagination_tags %}

{% block title %}Message Log - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}messagelog/stylesheets/messagelog.css" />
{% endblock %}

{% block content %}
<div class="module">
	<h2>Contacts</h2>
	<table class="messages">
		<colgroup>{% for column in table.columns %}
			<col{% if column.sorted %} class="sorted"{% endif %}/>{% endfor %}
		</colgroup>
		<thead>
			<tr>{% for column in table.columns %}
				<th scope="col" class="{% if column.sorted %}sorted {{ table.sort_order }}{% endif %}">{% if column.sortable %}
					<a href="{{ column.sort_url }}" title="Sort this table by {{ column.verbose_name|lower }}">{% else %}
					<span class="unsortable">{% endif %}
						{{ column.verbose_name }}{% if column.sorted %}
						<span title="Sorted in {{ table.verbose_sort_order }} order">
							({{ table.sort_order }})
						</span>{% endif %}{% if column.sorted %}
					</a>{% else %}
					<span>{% endif %}
				</th>{% endfor %}
			</tr>
		</thead>
		<tbody>{% if table.paginator.object_list %}{% for row in table.paginator.object_list %}
			<tr>
				<td>{{ row.text }}</td>
				<td>{{ row.get_direction_display }}</td>
				<td>{{ row.who }}</td>
				<td>{{ row.date|date:"d/m/Y H:i" }}</td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="4">
					<p>
						No messages have been sent or recieved yet.
					</p>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					<div class="paginator">
						{% paginator table.paginator %}
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
{% endblock %}
