{% extends "layout.html" %}
{% load tables_tags %}

{% block title %}Message Log - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}messagelog/stylesheets/messagelog.css" />
{% endblock %}

{% block content %}
<div class="module">
	<h2>Contacts</h2>
	<table class="messages">
		{% render_colgroup table %}
		{% render_thead table %}

		<tbody>{% if table.paginator.object_list %}{% for row in table.paginator.object_list %}
			<tr>{% for column in table.columns %}
				<td>{% render_cell table column row %}</td>{% endfor %}
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="{{ table.columns|length }}">
					<p>
						Nothing to display.
					</p>
				</td>
			</tr>{% endif %}
		</tbody>

		{% render_tfoot table %}
	</table>
</div>
{% endblock %}
