{% extends "layout.html" %}
{% block title %}Add a Question{% endblock %}
{% block content %}
{% load utils %}

<div class="add-question">
	<form method="post">
		<div>
			<label for="fm-type">Question Type:</label>
			<select name="type" id="fm-type">
				<option value="F">Free text</option>
				<option value="B">Boolean</option>
				<option value="M">Multiple choice</option>
			</select>
		</div>
	
		<div>
			<label for="fm-start">Start Date:</label>
			{% date_selector "start" %}
		</div>

		<div>
			<label for="fm-end">End Date:</label>
			{% date_selector "end" %}
		</div>

		<div>
			<label for="fm-text">Question:</label>
			<textarea id="fm-text" name="text" rows="4" cols="40"></textarea>
		</div>
	
		<div id="grp-answers" class="gap disabled">
			<label>Answers:</label>
			<div class="help"><p>
				Only available when creating
				<em>Multiple Choice</em> Questions
			</p></div>
			
			<table class="answers">
				<thead>
					<tr>
						<th>Choice</th>
						<th>Answer</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input name="choice-1" size="5" maxlength="1" value="1" disabled="disabled" /></td>
						<td><input name="text-1" maxlength="40" /></td>
					</tr>
					<tr>
						<td><input name="choice-2" size="5" maxlength="1" value="2" disabled="disabled" /></td>
						<td><input name="text-2" maxlength="40" /></td>
					</tr>
					<tr>
						<td><input name="choice-3" size="5" maxlength="1" value="3" disabled="disabled" /></td>
						<td><input name="text-3" maxlength="40" /></td>
					</tr>
					<tr>
						<td><input name="choice-4" size="5" maxlength="1" value="4" disabled="disabled" /></td>
						<td><input name="text-4" maxlength="40"/ ></td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<div class="submit">
			<input type="submit" value="Add Question" />
		</div>
	</form>
	
	<script type="text/javascript">
		window.addEvent("domready", function() {
			var grp_ans = $("grp-answers");
			var fm_type = $("fm-type");
			
			var answers_vis = function() {
				var dis = (fm_type.value != "M");
				
				/* disable the answers group if we
				 * aren't adding a multiple-choice */
				if (dis) grp_ans.addClass("disabled");
				else grp_ans.removeClass("disabled");
				
				/* disable or enable all of the fields */
				$$("#grp-answers input").each(function(el) {
					el.disabled = dis;
				});
			};
			
			/* update the visibility each time the Question
			 * Type is changed, and right now, in case the
			 * element as been auto-filled by the browser */
			fm_type.addEvent("change", answers_vis);
			answers_vis();
			
			/* do some error checking when
			 * the form is submitted */
			var frm = $$(".add-question form")[0];
			frm.addEvent("submit", function(ev) {
				
				/* don't submit the form in
				 * the usual full-page way */
				ev.stop();
				
				/* destroy any existing status boxes during POST */
				frm.getElements(".errors, .success").dispose();
				
				var status_div = function(klass, html) {
					new Element ("div", {
						"html": html,
						"class": klass
					
					/* add above the "submit" button */
					}).inject(frm.getElement(".submit"), "top");
				};
				
				/* submit the form via ajax, and create a notification
				 * div. if an object was successfully created, redirect
				 * back to the dashboard */
				new Request({
					"url": (frm.action || location.href),
					
					"onSuccess": function() {
						status_div("success", "Question added");
						location = "/";
					},
					
					"onFailure": function(xhr) {
						status_div("errors", xhr.responseText);
					}
				}).send(frm);
			});
		});
	</script>
</div>
{% endblock %}
