{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/static/webui/javascripts/jquery.flot.js"></script>
<script type="text/javascript" src="/static/webui/javascripts/jquery.flot.pie.pack.js"></script>
<!--[if IE]><script type="text/javascript" src="/static/webui/javascripts/excanvas.pack.js"></script>
<![endif]-->
{% endblock %}
{% load cache %}
{% load bednets %}

{% block content %}
{# cache content of dashboard for one hour #}
{% cache 3600 dashboard %}
<div class="tmp">


<div class="split-3">
	<div class="left">
		{% comment %}
		{% distribution_summary_charts %}
		{% endcomment %}
	</div>
	<div class="mid">
		{% comment %}
		{% daily_progress %}
		{% endcomment %}
	</div>
	<div class="right">
		{% comment %}
		{% bednets_stats %}
		{% endcomment %}
	</div>
	<div class="clear-hack"></div>
</div>

<div class="split">
	<div class="left">
		{% comment %}
		{% pilot_summary %}
		{% endcomment %}
	</div>
	<div class="right">
		{% comment %}
		{% logistics_summary %}
		{% endcomment %}
	</div>
	<div class="clear-hack"></div>
</div>


</div>
{% endcache %}
{% endblock %}
