{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% load nigeria %}

{% block content %}
<div class="tmp">


<div class="split-3">
	<div class="left">
		{% recent_reporters %}
	</div>
	<div class="mid">
		{% daily_progress %}
	</div>
	<div class="right">
		{% nigeria_stats %}
	</div>
	<div class="clear-hack"></div>
</div>

<div class="split">
	<div class="left">
		{% pilot_summary %}
	</div>
	<div class="right">
		{% logistics_summary %}
	</div>
	<div class="clear-hack"></div>
</div>


</div>
{% endblock %}
