{% extends "messaging/base.html" %}
{% block title %}Messaging{% endblock %}
{% load reporters %}

{% block content %}
<div class="split">
	<div class="left">
		<div class="module recipients">
			<h2>Select Recipients</h2>
			<div class="search">
				<select name="column">
					<option value="">Any Column</option>{% for column in columns %}
					<option>{{ column }}</option>{% endfor %}
				</select>
				
				<select name="operation">
					<option value="cn">contains</option>
					<option value="eq">equals</option>
					<option value="sw">starts with</option>
					<option value="ew">ends with</option>
					<option value="lt">is less than</option>
					<option value="gt">is more than</option>
				</select>
				
				<input type="text" name="search" value="" size="14" />
			</div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Role</th>
						<th>Location</th>
					</tr>
				</thead>
				<tbody>{% for reporter in reporters.object_list %}
					<tr>
						<td>{{ reporter.full_name }}</td>
						<td>{{ reporter.role }}</td>
						<td>{{ reporter.location }}</td>
					</tr>{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							<div class="paginator">{% if reporters.has_previous %}
								<a href="{% self_link "page" 1 %}" class="first" title="First page">First Page</a>
								<a href="{% self_link "page" reporters.previous_page_number %}" class="prev" title="Previous page">Previous Page</a>{% else %}
								<span class="first na" title="You are already on the first page">First Page</span>
								<span class="prev na" title="There are no previous pages">Previous Page</span>{% endif %}{% for page in reporters.paginator.page_range %}
								<a href="{% self_link "page" page %}"{% ifequal page reporters.number %} class="active"{% endifequal %} title="Page {{ page }}">{{ page }}</a>{% endfor %}{% if reporters.has_next %}
								<a href="{% self_link "page" reporters.next_page_number %}" class="next" title="Next page">Next Page</a>
								<a href="{% self_link "page" reporters.paginator.num_pages %}" class="last" title="Last page">Last Page</a>{% else %}
								<span class="next na" title="There are no more pages">Next Page</span>
								<span class="last na" title="You are already on the last page">Last Page</span>{% endif %}
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
    </div>
	</div>
	<div class="right">
		<div class="module contents">
			<h2>Message Contents</h2>
			<textarea cols="40" rows="6"></textarea>
			<input type="button" value="Send" />
		</div>
	</div>
	<div class="clear-hack"></div>
</div>

<script type="text/javascript">
	
	/* expand the search box to fill the remaining space
	 * to the right. this is pointless but rather pretty */
	 
	$(function() {
		$("div.module.recipients .search input[name=search]").each(function() {
			var input = $(this);
			
			var box_offset = $(input.parent().children()[0]).offset()["left"];
			var inp_offset = input.offset()["left"] - box_offset;
			var inp_width  = input.parent().width() - inp_offset;
			
			input.css({
				"-moz-box-sizing": "border-box",
				"width": inp_width
			});
		});
	});
	
	$(function() {
		
	});
</script>
{% endblock %}
