/* make incoming (from rapidsms's point of view) messages dull, since
 * they're not very important, compared to the outgoing messages */
#log tr.in {
    color: #ccc;
}

/* display whitespace, since it'll be displayed on devices. */
#log td.text {
    font-family: monospace;
    white-space: pre;

    /* rejig the spacing and padding, to space out multiple lines
     * without leaving single lines with superflous whitespace. */
    line-height: 1.5;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
