/* vim:set et ts=4 sw=4 */

/* Sticky footer styles
      -------------------------------------------------- */
/* From http://twitter.github.com/bootstrap/examples/sticky-footer-navbar.html */

html, body {
    height: 100%;   /* html & body cannot have any padding or margin */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -80px;  /* -80px is the negative of the footer height */
}

/* Set the fixed height of the footer here and above */
#push,
#footer {
    height: 80px;       /* Height of the footer */
}

/* Make room for the top navbar above the main page so the navbar
   doesn't float on top of the page heading. navbar rendering changes
   below the first responsive break point, so don't do it there.
 */
@media (min-width: 980px) {
    #mainpage {
        padding-top: 60px;
    }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* END sticky footer styles ------------------------------------- */

#footer {
    background-color: #f5f5f5;
}

@media (max-width: 979px) {
  body {padding-top: 0;}
}
@media (max-width: 767px) {
  body {padding-top: 0;}
}

table {width: 100%;}

/* Don't make sortable table header text blue */
th.sortable a { color: #000;}

.page {padding: 0;}
.well {margin-left: 15px;}

.navbar-blue .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #31c0d0, #2894c9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#31c0d0), to(#2894c9));
  background-image: -webkit-linear-gradient(top, #31c0d0, #2894c9);
  background-image: -o-linear-gradient(top, #31c0d0, #2894c9);
  background-image: linear-gradient(to bottom, #31c0d0, #2894c9);
  background-repeat: repeat-x;
  border-style: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff31c0d0', endColorstr='#ff2894c9', GradientType=0);
}

.navbar-blue .brand {
    margin-left: 5px;
}

.navbar-blue .brand,
.navbar-blue .nav > li > a {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 979px) {
    .navbar-inner .nav-collapse.in.collapse ul li a,
   .nav-collapse .dropdown-menu a {
       color: #FFFFFF ! important;
   }
    .nav > li > a:hover {
        color: #000000 ! important;
        background-color: #eeeeee ! important;
    }
    .nav-collapse .nav li.nav-header {
        color: #ffffff ! important;
        background-color: #2894c9;
        font-weight: bold;
    }
}

.navbar-blue .brand:hover,
.navbar-blue .nav > li > a:hover {
  color: #ffffff;
}

.navbar-blue .brand {
  color: #FFFFFF;
}

.navbar-blue .navbar-text {
  color: #FFFFFF;
}

.navbar-blue .nav > li > a:focus,
.navbar-blue .nav > li > a:hover {
  color: #ffffff;
  background-color: #2894c9;
}

.navbar-blue .nav .active > a,
.navbar-blue .nav .active > a:hover,
.navbar-blue .nav .active > a:focus {
  color: #ffffff;
  background-color: #2894c9;
}

.navbar-blue .navbar-link {
  color: #FFFFFF;
}

.navbar-blue .navbar-link:hover {
  color: #ffffff;
}

.navbar-blue .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

.navbar-blue .nav li.dropdown.open > .dropdown-toggle,
.navbar-blue .nav li.dropdown.active > .dropdown-toggle,
.navbar-blue .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #2894c9;
}

.navbar-blue .nav li.dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-blue .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.navbar-blue .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-blue .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-blue .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-blue .navbar-search .search-query {
  color: #ffffff;
  background-color: #515151;
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.navbar-blue .navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

.navbar-blue .navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

.navbar-blue .navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}

.navbar-blue .navbar-search .search-query:focus,
.navbar-blue .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.navbar-blue .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(top, #151515, #2894ca);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#2894ca));
  background-image: -webkit-linear-gradient(top, #151515, #2894ca);
  background-image: -o-linear-gradient(top, #151515, #2894ca);
  background-image: linear-gradient(to bottom, #151515, #2894ca);
  background-repeat: repeat-x;
  border-color: #2894ca #2894ca #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar .btn-navbar {float: left;}
.navbar-blue .btn-navbar:hover,
.navbar-blue .btn-navbar:active,
.navbar-blue .btn-navbar.active,
.navbar-blue .btn-navbar.disabled,
.navbar-blue .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #2894ca;
}

.navbar-blue .btn-navbar:active,
.navbar-blue .btn-navbar.active {
  background-color: #000000;
}
