{% load reporters %}

<div class="module">
	<h2>All Reporters</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Alias</th>
				<th scope="col">Last Seen</th>
			</tr>
		</thead>
		<tbody>{% if reporters %}{% for reporter in reporters %}
			<tr>
				<td><a href="/reporters/{{ reporter.pk }}">{{ reporter }}</a></td>
				<td>{% if reporter.alias %}{{ reporter.alias }}{% else %}<span class="na">n/a</span>{% endif %}</td>
				<td>{{ reporter.last_seen|last_seen }}</td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="3">
					No Reporters Yet.
					<a href="/reporters/add" class="add">
						Add a Reporter
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					<a href="">
						Export to Excel
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
	<div class="toolbar">
		<a href="/reporters/groups/add" class="add">Add a Group</a>
		<a href="/reporters/add" class="add">Add a Reporter</a>
	</div>
</div>
