{% extends base_template %}
{% block title %}Web Message Tester{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/static/http/scripts/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="/static/http/scripts/httpclient.js"></script>			
{% endblock %}
{% block content %}
<style>
	/* incoming/outgoing indicator [raq/laq]uo */
	div.tester {
		height: 14em;
		overflow-y: scroll;
	}
	.tester table td.dir {
		font-weight: bold;
	}

	/* colorize cells to indicate direction */
	.tester tr.in  td.dir { color: #f00; }
	.tester tr.in         { background: #fff8ff; }
	.tester tr.out td.dir { color: #0f0; }
	.tester tr.out        { background: #f8ffff; }

	.tester tr td.phone    { color: #bbb; font-size: 70%; width: 8em; float: right; border-top: 0px;}
	.tester tr td.dir      { border-top: 0px; }
	.tester tr td.info    { color: #bbb; font-size: 70%; width: 8em; float: left;}
	.tester tr td.msg     { font-size: 90%; float: left; width: 65em;}

	#form_wrapper { margin-top: 1em; margin-left: 10em}
	label,input { display:block;}
	input { margin-bottom: 1em; width:25em; }
	#message { height: 5em; }
</style>
<h2>Message Tester</h2>
<div class="tester">
	<table>
		<tbody id="log">
		</tbody>
	</table>
</div>
<div id="form_wrapper">
	<form id="form" name="form">
	<label for="phone">Phone Number: <input type="text" id="phone" name="phone" value="{{number}}" /></label>
	<label for="message">Message: <input type="text" id="message" name="message" /></label>
	<input type="submit" id="submit" name="submit" value="Send" />
</form>
</div>
{% endblock %}
