{% extends base_template %}
{% block title %}Web Message Tester{% endblock %}
{% block content %}

<!-- 
<form action="" method="post">
{{form.as_table}}
<input type="submit" value="Add" />
</form>
 -->
        <script id="mt" type="text/javascript" src="/static/http/scripts/mootools-yui-compressed.js"></script>
        
        <style type="text/css">
            
            /* remove m+p from most elements,
             * without resetting form elements */
            body, h1, #log, #log li, form {
                margin: 0;
                padding: 0;
            }
            
            body {
    background: #eef url("../images/page-bg.png") repeat-y 50% 0;
    font: 9pt "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
    line-height: 1;
    color: #333;
    padding: 0;
    margin: 0;
            }
            
                body.framed {
                    background: transparent;
                    padding: 0;
                }
                
                body.framed #wrapper {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                }
            
            #wrapper div {
                padding: 0.5em;
                background: #33a7d2;
            }
            
                
                h1 {
                    font-size: 100%;
                    color: #fff;
                }
                
                h2 {
                    font-size: 80%;
                    color: #fff;
                }
                
                
                #log {
                    height: 14em;
                    overflow-y: scroll;
                    font-family: monospace;
                    background: #fff;
                    margin: 0.5em 0;
                }
            
                    #log li {
                        line-height: 1.4;
                        list-style: none;
                        white-space: pre;
                        padding: 0.5em;
                    }
                    
                        #log li.in {
                            color: #888;
                            border-top: 1px dotted #000;
                        }
                            
                            /* don't show the divider
                             * at the top of the log */
                            #log li:first-child.in {
                                border-top: 0; }
                        
                        #log li.out {
                            color: #000;
                            background: #f8f8f8;
                        }
                        
                        /* messages prior to the latest
                         * are dim, to enhance readability */
                        #log li.old {
                            border-top: 0;
                            color: #ddd;
                        }
                        
                        #log li.error {
                            color: #f00;
                        }
                    
                form { }
                    
                    
                    form input {
                        -moz-box-sizing: border-box;
                        width: 50%;
                    }
                    
                    
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div>
                <h1>RapidSMS Virtual Device</h1>
                
                <ul id="log">
		<li class="in">bednets</li>
		<li class="out">text 1 for distribution points. text 2 for hanging instructions</li>
                </ul>
            
                <form id="send" method="post">
                <br>
                <h2>Phone Number: </h2><input type="text" id="phone_number" name="phone_number" />
                <br>
                <h2>Message: </h2><input type="text" id="body" name="body" />
                    <div id="submitbutton">
                    <input type="submit" value="Send" />
                    </div>
                </form>
            </div>
        </div>
        
        <script type="text/javascript">
            /* if mootools wasn't loaded (ie, the internet at this shitty
             * african hotel is broken again), just throw up a warning */
            if(typeof(MooTools) == "undefined") {
                var err = [
                    "Couldn't load MooTools from: " + document.getElementById("mt").src,
                    "This interface will not work without it, because I'm a lazy programmer. Sorry."
                ].join("\\n");
                document.getElementById("log").innerHTML = '<li class="error">' + err + '</li>';

            } else {
                window.addEvent("domready", function() {
                    
                    /* if this window is not the top-level
                     * window (ie, it has been included in
                     * an iframe), then add a body class
                     * to style things slightly differently */
                    if (window != top) {
                        $(document.body).addClass("framed");
                    }
                    
                    // extract the session id from the URI
                    var session_id = location.pathname.replace(/[^0-9]/g, "");
            
                    /* for storing the timeout, so we
                     * can ensure that only one fetch
                     * is running at a time */
                    var timeout = null;
                    
                    // the scrolling message log
                    var log = $("log");
            
                    /* function to be called when it is time
                     * to update the log by polling the server */
                    var update = function(msg_id) {
                        $clear(timeout);
                        
                        new Request.JSON({
                            "method": "get",
                            "url": "http://localhost:8080/123456/json_resp",
                            "onSuccess": function(json) {
                                var dimmed_old = false;
                                
                                json.each(function(msg) {
                                    var msg_id = "msg-" + msg[0];
                                    
                                    /* iterate the items returned by the JSON request, and append
                                     * any new messages to the message log, in order of receipt */
                                    if ($(msg_id) == null) {
                                    
                                        /* before adding new messages, add a class
                                         * to the existing messages, to dim them */
                                        if (!dimmed_old) {
                                            log.getElements("li").addClass("old");
                                            dimmed_old = true;
                                        }
                                        
                                        /* create the new element, and inject it into
                                         * the log (msg[1] contains "in" or "out"). */
                                        new Element("li", {
                                            "text": ((msg[2] == "") ? "<blank>" : msg[2]),
                                            "class": msg[1],
                                            "id": msg_id
                                        }).inject(log);
                                    }
                                });
                                
                                /* if the update function was called in response
                                 * to an outgoing message (via the #send.onComplete
                                 * event, below), a msg_id will have been returned
                                 * by the POST request. this msg should now be in
                                 * the log, so scroll to it, so we can quickly see
                                 * the response */
                                if (msg_id != null) {
                                    var msg_el = $("msg-" + msg_id);
                                    if (msg_el != null) {
                                        
                                        log.scrollTo(0, msg_el.getPosition(log)["y"]);
                                    }

                                /* if it was called independantly, just scroll to
                                 * the bottom of the log (Infinity doesn't work!) */
                                } else {
                                    log.scrollTo(0, 9999);
                                }
                                
                                /* call again in 30 seconds, to check for
                                 * unsolicited messages once in a while */
                                timeout = update.delay(30000);
                            }
                        }).send();
                    };
            
                    /* when a message is posted via AJAX,
                     * reload the load to include it */
                    $("send").set("send", {
                        "url": "/" + session_id + "/send",
                        "onComplete": update
                
                    /* submit the form via ajax,
                     * and cancel the full-page */
                    }).addEvent("submit", function(ev) {
                        this.send();
                        ev.stop();
                        
                        /* clear the text entry field to
                         * make way for the next message */
                        $("msg").value = "";
                    });
                    
                    /* update the log now, in case there
                     * is already anything in the log */
                    update();
                });
            }
        </script>
    </body>
</html>

{% endblock %}
