{% extends "layout.html" %}
{% block title %}Web Message Tester{% endblock %}
{% block content %}

<div class="tester">
	<table>
		<caption>All Previous Messages</caption>
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Text</th>
				<th scope="col">Outgoing?</th>
			</tr>
		</thead>
		<tbody>{% if msgs %}{% for allmsg in msgs %}
			<tr>
                <th scope="row">{{ allmsg.date }}</th>
				<td>{{ allmsg.body }}</td>
                <td>{{ allmsg.outgoing}}</td>
				
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="2">
					No Messages Yet.
				</td>
			</tr>{% endif %}
		</tbody>
	</table>
</div>

<form action="" method="post">
From Phone Number: {{number}}
{{form.as_table}}
<input type="submit" value="Add" />
</form>
{% endblock %}
