{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load utils %}

<div class="dashboard">
	<div id="current">{% if question %}
		<h2>Question{% if question.is_current %} (Current){% endif %}</h2>
		{% question_full question %}{% else %}
		<h2>No Question</h2>
		<div class="no-current">
			No question is currently active. You can <a href="/add">add one</a>.
		</div>{% endif %}
	</div>
	
	<div id="answers">
		<h2>Answers</h2>{% if question %}{% if entries %}
		<ul>{% for entry in entries %}
			<li{% if entry.is_unparseable %} class="unparseable"{% else %}{% if not entry.moderated %} class="unmoderated"{% endif %}{% endif %} id="ent-{{ entry.pk }}">
				<span>{{ entry.meta_data }}</span>
				<p>{{ entry.display_text }}</p>{% if entry.is_unparseable %}{% ifequal question.type "B" %}
				<div class="answers bool">
					<button value="yes">Yes</button>
					<button value="no">No</button>
					<button value="REJECT" class="reject">Reject</button>
				</div>{% endifequal%}{% ifequal question.type "M" %}
				<div class="answers mc">{% for answer in question.answer_set.all %}
					<button value="{{ answer.choice }}">{{ answer.text }}</button>{% endfor %}
					<button value="REJECT" class="reject">Reject</button>
				</div>{% endifequal %}{% endif %}
			</li>{% endfor %}
		</ul>{% else %}
		<div class="no-entries">
			No responses yet.
		</div>{% endif %}{% else %}
		<div class="no-entries">
			No question is currently active.
		</div>{% endif %}
		<script type="text/javascript">
			window.addEvent("domready", function() {
				var moderate = function() {
					var parent = this.getParent();
					var pk = parent.id.replace(/\D/g, "");
					var status = this.hasClass("mod-win") ? "win" : "fail";
					
					/* submit the moderation via ajax */
					new Request({
						"url": ("/moderate/" + pk + "/" + status),
						"onSuccess": function() {
							
							/* accept the entry by removing the
							 * WARNING highlight and mod buttons */
							if (status=="win") {
								parent.removeClass("unmoderated");
								parent.getElements("div").dispose();
							
							/* failed moderation, so remove
							 * the element from view */
							} else parent.dispose();
						}
					}).send();
				};
				
				/* iterate unmoderated entries, and add the
				 * tick/cross icons to each, with the MODERATE
				 * event wired up to submit clicks */
				$$("#answers li.unmoderated").each(function(el) {
					var meta = el.getFirst();
					
					new Element("div", {
						"class": "mod-fail",
						"title": "Reject this answer",
						"events": { "click": moderate }
					}).inject(meta, "after");
					
					new Element("div", {
						"class": "mod-win",
						"title": "Accept this answer",
						"events": { "click": moderate }
					}).inject(meta, "after");
				});
				
				
				/* iterate unparseable entries, to add similar
				 * events to the pre-built option buttons */
				$$("#answers li.unparseable").each(function(li) {
					li.getElements("button").addEvent("click", function(ev) {
						var pk = li.id.replace(/\D/g, "");
						var button = ev.target;
				
						/* submit the correction via ajax */
						new Request({
							"url": ("/correct/" + pk),
							"data": {"text": button.value},
							
							/* the entry was corrected, so remove
							 * the UNPARSEABLE highlight, buttons,
							 * and update the caption (or delete
							 * the entry, if it were rejected) */
							"onSuccess": function() {
								if (button.get("value")!="REJECT") {
									li.removeClass("unparseable");
									li.getElements("div").dispose();
									li.getElement("p").set("text", button.get("text"));
								} else li.dispose();
								
								/* if we just removed the last
								 * unparseable, remove the jump */
								if($$("#answers li.unparseable").length == 0)
									$$("#answers div.jump-to-unparseable").dispose();
							},
							
							/* something went wrong! we have no
							 * idea what, though, at this point */
							"onFailure": function() {
								alert("FAIL");
							}
						}).send();
					});				
				});
				
				if($$("#answers li.unparseable").length) {
					var scroller = $$("#answers ul")[0];
							
					new Element("div", {
						"html": "Next unparseable",
						"class": "jump-to-unparseable",
						"events": { "click": function(ev) {
							
							/* find the next available unparseable */
							var lis = $$("#answers li.unparseable");
							if(lis.length > 0) {
								
								/* scroll it into view */
								var pos = lis[0].getPosition(scroller);
								scroller.scrollTo(0, (pos.y - 5));
							}
							
						}}
					}).inject($$("#answers h2")[0], "top");
				}
			});
		</script>
	</div>
	
	<div id="previous">
		<h2>Previous Questions</h2>
		<div class="scroll-box">{% if previous %}{% for q in previous %}{% if forloop.first %}
			<div class="summaries num-{{ forloop.revcounter }}">{% endif %}
				<div class="q-wrap {% if forloop.last %} last{% endif %}{% if question %}{% ifequal q.pk question.pk %} active{% endifequal %}{% endif %}">
					{% question_summary q %}
				</div>{% if forloop.last %}
			</div>
			<script type="text/javascript">
				
				/* if a question summary is "active" (ie, it has
				 * been clicked on already), scroll it into view */
				window.addEvent("domready", function() {
					$$("#previous .active").each(function(el) {
						var scroller = el.getParent(".scroll-box");
						var pos = el.getPosition(scroller);
						scroller.scrollTo((pos.x - 5), 0);
					});
				});
			</script>{% endif %}{% endfor %}{% else %}
			<div class="no-summaries">
				This box will be useful once you
				<a href="/add">Add a Question</a>.
			</div>{% endif %}
		</div>
	</div>
</div>
{% endblock %}

