<div class="module">
	<table>
		<caption>All Groups</caption>
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Members</th>
			</tr>
		</thead>
		<tbody>{% if groups %}{% for group in groups %}
			<tr class="depth-{{ group.depth }}">
				<th><span><a href="/reporters/groups/{{ group.pk }}">{{ group.title }}</a></span></th>
				<td>{{ group.members }}</td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="3">
					No Groups Yet.
					<a href="/reporters/groups/add" class="add">
						Add a Group
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					<a href="">
						Export to Excel
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
	<div class="toolbar">
		<a href="/reporters/groups/add" class="add">Add a Group</a>
	</div>
</div>
