<div class="pagination" id="{{ dom_id }}">
  <ul>
    {% if prev_page_link %}
        <li><a href="{{ prev_page_link }}" class="prev">Prev</a></li>
    {% else %}
        <li class="disabled"><span class="prev">Prev</span></li>
    {% endif %}
    {% for page in page_links %}
        {% if page %}
            {% if page.active %}
                <li class="active"><span>{{ page.number }}</span></li>
                {% else %}
                <li><a href="{{ page.link }}">{{ page.number }}</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><span>...</span></li>
        {% endif %}
    {% endfor %}
    {% if next_page_link %}
        <li><a href="{{ next_page_link }}" class="next">Next</a></li>
    {% else %}
        <li class="disabled"><span class="next">Next</span></li>
    {% endif %}
  </ul>
</div>
