<div class="pagination" id="{{ dom_id }}">
  <ul>
    <li class="{% if not prev_page_link %}disabled{% endif %}">
        <a href="{{ prev_page_link }}" class="prev">Prev</a>
    </li>
    {% for page in page_links %}
        {% if page %}
            <li {% if page.active %}class="active"{% endif %}>
                <a href="{{ page.link }}">{{ page.number }}</a>
            </li>
        {% else %}
            <li class="disabled"><a href="">...</a></li>
        {% endif %}
    {% endfor %}
    <li class="{% if not next_page_link %}disabled{% endif %}">
        <a href="{{ next_page_link }}" class="next">Next</a>
    </li>
  </ul>
</div>
