{% extends "registration/base.html" %}
{% load pagination_tags %}
{% load tables_tags %}
{% load forms_tags %}


{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}registration/stylesheets/dashboard.css" />
{% endblock %}

{% block left %}
<div class="module">
	<h2>Contacts</h2>
	<table class="contacts">
		{% render_colgroup contacts %}
		{% render_thead contacts %}

		<tbody>{% if contacts.rows %}{% for row in contacts.rows %}
			<tr{% if row.is_active %} class="active"{% endif %}>{% for value in row %}{% if forloop.first %}
				<th><a href="{{ row.url }}">{% if value %}{{ value }}{% else %}&nbsp;{% endif %}</a></th>{% else %}
				<td>{{ value }}</td>{% endif %}{% endfor %}
			</tr>{% endfor %}{% else %}
			<tr class="no-data look-right">
				<td colspan="{{ contacts.columns|length }}">
					<p>
						You haven't created any contacts yet.<br />
						Use the form on the right to get started.
					</p>
				</td>
			</tr>{% endif %}
		</tbody>

		{% render_tfoot contacts %}
	</table>
	<div class="toolbar">
		<a href="{% url registration_add %}" class="add">Add a Contact</a>
	</div>
</div>
{% endblock %}

{% block right %}
<div class="module">
	<h2>{% if contact %}
		Edit {{ contact }}{% else %}
		Add a Contact{% endif %}
	</h2>

	<form action="" method="post">
		{% render_form contact_form %}

		<div class="submit">
			<input type="submit" name="submit" value="Save Contact" />
			<input type="submit" name="submit" value="Delete Contact" />
		</div>
	</form>
</div>
{% endblock %}
