.filters {
}

	.filters .module {
		margin-bottom: 1em;
	}

	.filters ul,
	.filters li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.filters ul {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 12em;
	}

		.filters li {
			display: block;
			border-top: 1px dotted #eee;
		}

		.filters li:first-child {
			border-top: none; }

			.filters li.region div {
				background: #f8f8f8;
				text-align: center;
				padding: 0.5em;
				color: #aaa;
			}

		.filters li a {
			display: block;
			padding: 0.5em;
			color: #333;
			
			background: url("../../webui/icons/silk/bullet_white.png") no-repeat 0 50%;
			padding-left: 21px;
			outline: none;
		}

		.filters li.checked a        { background-image: url("../../webui/icons/silk/accept.png") !important; }
		.filters li.checked-parent a { background-image: url("../../webui/icons/silk/accept--dull.png"); }

		.filters li a:hover {
			text-decoration: none;
		}






.module.recipients { }

	.module.recipients table {
		width: 100%;
	}


.module.contents { }

	.module.contents > div {
		background: #eee;
		padding: 0.25em;

		/* align the SEND and CANCEL
		 * buttons to the right */
		text-align: right;
	}

	.module.contents textarea {
		width: 100%;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
